//variables
//colors
$title-color:black;
$title-color-span: rgba(52, 152, 219, 1);
$color-text: black;
$color-navbar: black;
$box-text-color:rgb(255, 255, 255);
$navbar_hover-color: rgba( 255, 255, 255, 1);
$navbar_hover-background: rgba( 0, 0, 0, .85);
$theme-color: rgba(52, 152, 219, 1);
$footer-color: rgb(0, 0, 0);

// background_colors
$logo-color: rgba(255, 255, 255, 1 );
$theme-bacground: rgba(0, 21, 66, 1);
$body-background: rgba( 255, 255, 255, 1);;
$skills_background: rgba(122, 188, 243, 0);

// other_colors
$main_box-color: rgba(0, 0, 0, 0);
$main_overlay-color: rgba(52, 152, 219, 0);

// fonts
// font-size
$font-size: 1em;
$font-size-title-upper: 1em;
$font-size-title-bottom: 2.7em;
$font-size-title-span: 1em;

// font-family
$font-main: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif;

// width 
$body-width: 100%;


// * {
// 	outline: thin solid red;
//     }


body {
	max-width: $body-width;
	margin: 0 auto;
    padding: 0 .7em;
	font-family: $font-main;
	font-size: $font-size;
	background-color: $body-background;
    color: $color-text;
}

a, p, h1, h2 {
	margin:0;
	padding:0;
	text-decoration: none;
}

ul, li {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
    width: 100%;
    height: auto;
}

header {
    margin-top: 3em;

    & .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2em;	
        }
}

header .title img {
    margin-left: 10%;
    width: 80%;


}

header .logo {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 1.5em;

    & a{
        margin-right: 1em;
    }
}


header .contacts {

    margin-right: 4%;
    
    & li { 
	    text-align: end;
    }

    & li i {
        margin-right: .85em;
    }

    & .number p {
        font-size: .9em;   
    }

    & .email {
        font-size: 1em;
        margin-bottom:.5em;
        & i {
            margin-right: .6em;
        }
    }
}


.navbar {

    & ul {
        display: flex;
	    justify-content: flex-end;

        & li {
            margin-left: 18px;
        }
    }


    & a {
        display: inline-block;
        color: $color-navbar;
        font-weight: 600;
        font-size: 1em;
        text-transform: uppercase;
        padding: .8em 1em;
        margin-left: 100px;
        
        &:first-child {
            margin: 0;
        }
    
        &:hover {
            // background-color: $navbar_hover-background;
            color: rgba(52, 152, 219, 1);
            outline: 0.4em solid rgba(52, 152, 219, 1) ;
            
    
        }
        &.active {
            color: rgba(52, 152, 219, 1);
            outline: 0.4em solid rgba(52, 152, 219, 1) ;
    
            
                }
    }
 }

// main link_index

main .container {
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    height: 610px;



    .paragraph_picture img {
        
        object-position: 0px 0px;
        width: 100%;
        height: 610px;
        position: absolute;
        object-fit: cover;
        transform: scaleX(-1);
        top: 0%;
        right: 0%;
        opacity: 1;
        z-index: -10;
       
    
    }

    ul {
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 2%;
        left: 0;
        
    }

    li {
        color: white;
        margin-left: 50px;
        margin-top: 35px;

        p {
            border-radius: 2px;
            border: thin solid white;
            width: 100%;
            font-size: 2em;
            font-weight: 100;
            padding: 10%;
            text-transform: uppercase;
        }
    }
}


/* info*/

main .info {
	margin-top: 30px;
	padding: 2%;

    & .address {
        display: flex;

        & a {
            display: inline-block;
            color: royalblue;
             }

        & a:hover {
            color: lighten($theme-color, 20%);
        }
    }

    & ul {
        padding: 2em 0 2em 0;
        margin-right: 5em;
        /* border-right: thin dotted black; */
        }
    
    & li {
        margin-bottom: .5em;
    }
}




/*footer*/

footer {
  height: auto;
  color: $footer-color;
  font-size: 0.875em; /* 14/16 */
  text-align: right;
  margin-top: 3.125em; /* 50/16 */
  margin-bottom: 1.875em /* 30/16 */
}

// about_us
.container_about_us {
    position: relative;
    margin-top: 1.5%;
}

.name_holder {	
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 1.5px solid black;
    

    & .logo {
        max-width: 80px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        // border: 2px solid black;
        position: absolute;
        top: 8%;
        right: 1%;
        border-radius: 2px;
        padding: .4em .4em .1em .4em;
        background-color: $logo-color;
        z-index: 3;

        & img {
            max-width: 100%;
            height: auto;
            }
        }

    & p {
        // background-color: rgba(255, 255, 255, .05);
        // box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        margin-left: 1%;
        padding: 1% 1%;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5em;
        position: absolute;
        z-index: 3;
        background-color: black;        
        border-bottom: 2px dotted black;

       
        // text-shadow: 2px 4px 3px rgba(0,0,0,0.3)

    }

    & .banner_image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 90px;
        opacity: 1;
        object-fit: cover;
        object-position: 180px;
        z-index: 1;
        }
}

.about_us {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 1% 1% 5% 1%;

    & h1 {
        color: $theme-color ;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.3em;
        margin: 0% 0% .8% 0%;
    }

    & li {
        margin-bottom: 1.5%;
    }

    & ul {
        margin-bottom: 5%;
    }

    & p {
        line-height: 150%;
        letter-spacing: 1px;
        font-weight: 100;

        & span {
            color: $theme-color;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}


// partners

.container_partners, .container_links {
    padding: 2% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;


    & h1 {
        color: darken($theme-color, 50%);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.3em;
        margin: 2% 0% 4% 0%;
    }

    & li {
        margin-bottom: 5%;

        & h1 { 
            font-weight: 400;
            color:$theme-color;
            font-size: 1em;
            margin:0;
        }
    }

    & ul {
        margin-bottom: 2%;
        width: 48%;
    }

    & p {
        line-height: 150%;
        letter-spacing: 1px;
        font-weight: 100;

        & span {
            color: $theme-color;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}


// contacts

.container_contacts {
    padding: 4% 1% 0 1%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}


.container_persons {
    display: flex;
    flex-wrap: wrap;

    & .persons .firm {
        font-size: 1.8em;
        padding-top: 1%;
    }

    & img {
        max-width: 120px;
        height: 120px;
        border-radius: 50%;
        object-position: top;
        object-fit: cover;
        filter: hue-rotate(-12deg);
    }
}


.persons {
    width: 50%;
    display: flex;
    margin-bottom: 3%;

    
    & .persons_info {
        width: 100%;
        margin-left: 4%;
        padding-top: 3%;

        & h1 {
            font-size: 1em;
            font-weight: 400;
            color: $theme-color;
            margin-bottom: 2%;
            text-transform: uppercase;
        }

        & p {
            margin-bottom: .5%;
            font-weight: 300;
        }
    }

}


.aside {
    padding: 1%;

    & p {
        line-height: 150%;
        letter-spacing: 1px;
        font-weight: 100;
        padding-bottom: 2%;
    }

    & h1 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 400;
        color: $theme-color;
    }

    & table {
        min-width: 300px;
        table-layout: fixed;
        border-collapse: collapse;
        margin-bottom: 5%;


        & caption {
          text-align: left;
          padding-bottom: 3%;
          color: $theme-color;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 400;

        }
        
        & tbody th, td {
            color: black;
            text-align: left;
            padding: 2% 10% 2% 0% ;
            font-weight: 300;
        }

        & tbody th {
            text-transform: uppercase;
            font-weight: 400;
        }

      }
}

.container_aside {
    display: flex;
    justify-content: space-between;
    margin: 2% 0% 4% 0%;

    & :nth-child(1) {
        width: 49%;
    }

    & iframe {
        width: 40%;
        padding: 0% 2%;
    }


}

// links 

.container_links {
    flex-wrap: nowrap;
    justify-content: space-between;

    & ul {
        width:32%
    }

    & .middle {
        padding-left: 3%;
    }

    & h1 {
        color: $theme-color;
        padding-bottom: 4%;
    }

    & li {
        padding: 0;
        margin-bottom: 4%;
    }

    & a {
        color: grey;
        font-weight: 100;
    }

    & a:hover {
        color: lighten($theme-color, 20%);
    }
}


.more_info {

    & h1 {
        padding-bottom: 1%;
    }
}









